<div id="<%= dom_id study_session %>">
  <p>
    <strong>Title:</strong>
    <%= study_session.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= study_session.description %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= study_session.duration %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= study_session.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= study_session.end_time %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= study_session.status %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= study_session.rating %>
  </p>

  <p>
    <strong>User:</strong>
    <%= study_session.user_id %>
  </p>

  <p>
    <strong>Session:</strong>
    <%= study_session.session_id %>
  </p>

</div>
