<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Studystud" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>



  <!-- <body class="container mx-auto mt-28 px-5 flex"> -->
  <body> 
    
    <div class="navbar bg-base-100 shadow-sm">
      <div class="flex-1">
        <!--<a class="btn btn-ghost text-xl">StudyStud</a>-->
        <%= link_to "StudyStud", root_path, class: "btn btn-ghost text-xl" %>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1 flex items-center">
          <!--<li><a>Link</a></li>-->

          <% if authenticated? %>
            <li><%= link_to "Dashboard", dashboard_path %></li>
          <% end %>
          <% unless authenticated? %>
            <li><%= link_to "Log in", new_session_path, class: "btn btn-success" %></li>
          <% end %>
          <% if authenticated? %>
            <li><%= button_to "Log out", session_path, method: :delete, class: "btn btn-error btn-outline", form_class: "p-0 m-0" %></li>
          <% end %>
          <!--<li>
            <details>
              <summary>Parent</summary>
              <ul class="bg-base-100 rounded-t-none p-2">
                <li><a>Link 1</a></li>
                <li><a>Link 2</a></li>
              </ul>
            </details>
          </li>-->
        </ul>
      </div>
    </div>
    <div class="container mx-auto mt-28 px-5">
      <%= yield %>
    </div>
  </body>
</html>
